<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu|ZCOOL+KuaiLe" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>

  <title>TamaFit</title>
</head>

<body>
  {{!-- tamafit bounce down --}}
  <div id="index-home">
    <div class="container">
      <div class="col-12">
        <div>
          <div class="animated bounceInDown text-center">
            <a href="/" class="no-underline logo">
              <span class="tama">Tama</span><span class="fit">Fit</span>
            </a>
            <hr class="type_6 animated bounceInDown hide-rule">
          </div>

        </div>
      </div>
    </div>
  </div>

  {{{body}}}

  <br>
  <footer class="animated bounceInUp">
    <div class="text-center"><strong>Made by Team TamaFit</strong>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>