<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="animated bounceInDown">

        <a href="/" class="no-underline">
          <span class="tama">Tama</span><span class="fit">Fit</span>
        </a>
        <hr class="type_6 animated bounceInDown hide-rule">
      </div>
      <div class="animated bounceInUp">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Account Info</h5>
            <p>
              <strong>ID</strong>: {{id}}</p>
            <p>
              <p>
                <strong>Email</strong>: {{email}}</p>
              <p>
                <strong>Joined:</strong> {{createdAt}}</p>
              <a href="/">← Back To Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>