<br>
<div class="container">
	<nav class="navbar navbar-collapse float-right navbar-nav navbar-light bg-none">
		<form class="form-inline">
			<a href="/logout"><button class="btn btn-primary" id="submit" type="button">Logout
				</button></a>
			</span><span class="button-padding"></span>
			<a href="/account"><button class="btn btn-primary" id="submit" type="button">View Account
					Info
				</button></a>
		</form>
	</nav>
</div>
<br>

<div id="home">
	<div class="container">
		<div class="col-8 offset-2">
			<div class="animated bounceInDown">
				<br>
				<span class="app_title"><a href="/" class="no-underline">
						<span class="tama tama_fix">Tama</span><span class="fit">Fit</span>
					</a></span>
			</div>
			<hr class="type_6 animated bounceInDown hide-rule">
		</div>
	</div>

	<div class="animated bounceInUp">
		<h1>Log a workout, <span class="member-name"></span></h1>
		<br>
	</div>

	<div class="container hidden">
		<div class="row top-30">
			<div class="col text-center">
				<a class="btn btn-light body-buttons" href="/log">Go to Logs</a>
			</div>
			<div class="col text-center">
				<a class="btn btn-light body-buttons" href="/workouts">Manage Workouts</a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form id="cms">
					<div class="form-group">
						{{!-- <label for="title">Title:</label>
						<input placeholder="Post Title" type="text" class="form-control" id="title">
						<br /> --}}
						<label for="comment">Comment:</label>
						<textarea placeholder="Log Comment" class="form-control" rows="10" id="comment"></textarea>
						<div class="form-group">
							<label for="category">Select Workout:</label>
							<select class="custom-select" id="workout">
							</select>
						</div>
						<br />
						<button type="submit" class="btn btn-success submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
<script src="https://code.jquery.com/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/cms.js"></script>
<script type="text/javascript" src="/js/members.js"></script>