<div id="home">
  <div class="container">
    <div class="animated bounceInUp">

      <h3 class="text-center">Welcome to the Tamagatchi fitness app. <br>You can create an account,
        log workouts, and track your progress. </h3>
      <br>

      <div id="carouselExampleSlidesOnly" class="carousel slide animated bounceInUp" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-60" src="/images/anime_spacytchi.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-60" src="/images/chamametchi_anime.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-60" src="/images/gozarutchi_anime.png" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-60" src="/images/kikitchi_anime.png" alt="Fourth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-60" src="/images/mametchi_anime_large.png" alt="Fifth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-60" src="/images/th.png" alt="Sixth slide">
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-light body-buttons" href="/login">Login</a>
          <span class="button-padding"></span>
          <a class="btn btn-light body-buttons" href="/signup">Sign Up</a>
        </div>
      </div>

      <footer>
        <div class="text-center">Made by Team TamaFit
        </div>
      </footer>

    </div>
  </div>
</div>
<br>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>