<div class="container">
  <nav class="navbar navbar-collapse float-right navbar-nav navbar-light bg-none">
    <form class="form-inline">
      <a href="/signup"><button class="btn btn-primary" id="submit" type="button">Sign
          up
        </button></a>
      <span class="button-padding"></span>
      <a href="/login"><button class="btn btn-primary" id="submit" type="button">Log
          in
        </button></a>
    </form>
  </nav>
</div>
<br>
<div id="home">
  <div class="container">
    <div class="col-8 offset-2">
      <div>
        <br>
        <div class="animated bounceInDown text-center"><span class="tama">Tama</span><span class="fit">Fit</span>
          <br></div>

        <hr class="type_6 animated bounceInDown hide-rule">
      </div>
    </div>
  </div>
  <h3 class="text-center animated bounceInUp">Welcome to the Tamagatchi fitness app. <br>You can
    create
    an account, log
    workouts, and track your progress. </h3>
  <br>
  <div id="carouselExampleSlidesOnly" class="carousel slide animated bounceInUp" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-40" src="/images/anime_spacytchi.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-40" src="/images/chamametchi_anime.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-40" src="/images/gozarutchi_anime.png" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-40" src="/images/kikitchi_anime.png" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-40" src="/images/mametchi_anime_large.png" alt="Fifth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-40" src="/images/th.png" alt="Sixth slide">
      </div>
    </div>
  </div>
</div>
<br>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>