<div class="container">
  <nav class="navbar navbar-collapse float-right navbar-nav navbar-light bg-none">
    <form class="form-inline">
      <a href="/signup"><button class="btn btn-primary" id="submit" type="button">Sign
          up
        </button></a>
      <span class="button-padding"></span>
      <a href="/login"><button class="btn btn-primary" id="submit" type="button">Log
          in
        </button></a>
    </form>
  </nav>
</div>
<br>

<div id="home">
  <div class="container">
    <div class="col-8 offset-2">
      <div>
        <br>
        <span class="tama">Tama</span><span class="fit">Fit</span>
        <br>
        <hr class="type_6 animated bounceInDown hide-rule">
      </div>
    </div>
  </div>
  <h1 id="username" class="animated bounceInUp">Hello!</h1>

  <br>
  <div id="tama_image">
    <div id="avatar_container"> <img src="/images/th.png" class="avatar" alt="chubby Tamagotchi">
    </div>
  </div>
</div>
<br>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>