<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <br>
        <span class="tama">Tama</span><span class="fit">Fit</span>

        <span class="login_btn">
          <a href="/signup"><button id="submit" class="btn btn-primary float-right">Sign up</button></a>
        </span>
        <span class="login_btn">
          <a href="/login"><button id="submit" class="btn btn-primary float-right">Log in</button></a>
        </span>

        <br>
        <hr>
      </div>
    </div>
  </div>
  <h1 id="username">Hello!</h1>
  <br>
  <div id="tama_image">
    <div id="avatar_container"> <img src="/images/th.png" id="avatar" alt="chubby Tamagotchi">
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/js/index.js"></script> --}}