<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <br>
        <a href="/"><h1 class="tama">Tama<span class="fit">Fit</span></h1></a>
        <hr>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label  for="example-text">Username</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="username">
          </div>
          <div class="form-group">
            <label  for="example-text">Password</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="password">
          </div>
          {{!-- <div class="form-group">
            <label for="example-text">Password</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-text"
              placeholder="muffins"></textarea>
          </div> --}}
          <button id="submit" class="btn btn-primary float-right">Login</button>
        </form>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>