<div class="container">
    <nav class="navbar navbar-collapse float-right navbar-nav navbar-light bg-none">
        <form class="form-inline">
            <a href="/logout"><button class="btn btn-primary" id="submit" type="button">Logout
                </button></a>
            <span class="button-padding"></span>
            <a href="/account"><button class="btn btn-primary" id="submit" type="button">View
                    Account
                    Info
                </button></a>
        </form>
    </nav>
</div>
<br>

<div id="home">
    <div class="container">
        <div class="col-8 offset-2">
            <div class="animated bounceInDown">
                <br>
                <a href="/" class="no-underline">
                    <span class="tama">Tama</span><span class="fit">Fit</span>
                </a>
                <hr class="type_6 animated bounceInDown hide-rule">
            </div>

            <div class="animated bounceInUp">
                <h1>Welcome <span class="member-name"></span></h1>
                <div class="member-img"></div>
                
                <br>
                <div class="text-center"><a href="/log" class="enlarged-link">See all of your
                        exercise logs</a></div>
                <br>
                <h5>Select an new exercise, or one you have done in the past. Then select the
                    workout date and log your workout.</h5>
                <br>
            </div>

            {{!-- container for dropdowns --}}
            <div class="row animated bounceInUp">
                <div class="col text-center">

                    {{!-- exercise selection dropdown --}}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="ExerciseSelectDropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="exercise-dropdown">Exercise Selection</span>
                        </button>
                        <br class="dropdown-spacer">
                        <br class="dropdown-spacer">
                        <label for="start"><strong>Start date:</strong></label>

                        <form class="create-form text-center" action="" method="POST">
                            <input type="date" id="start" name="trip-start" value="2019-01-24" min="2018-01-01"
                                max="2025-12-31">
                        </form>
                        <br>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Run</a></li>
                            <li><a class="dropdown-item" href="#">Lift</a></li>
                            <li><a class="dropdown-item" href="#">Bike</a></li>
                            <li><a class="dropdown-item" href="#">Swim</a></li>
                            <li><a class="dropdown-item" href="#">Walk</a></li>
                        </ul>
                    </div>
                </div>

                {{!-- exercise history dropdown --}}
                <div class="col text-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="ExerciseHistoryDropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Exercise History
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <br>
                <br>

                <div class="col text-center">
                    <a class="btn btn-light body-buttons" href="#">Log your workout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>
<script type="text/javascript" src="/js/form-functionality.js"></script>