<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        {{!-- form start --}}
        <div class="animated bounceInUp">
          <h2>Sign Up Form</h2>
          <p>Already have an account? Log in <a href="/login" class="text-link">here</a></p>
          <form class="signup">

            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label">First Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="first-name-input" placeholder="First Name">
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label">Last Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="last-name-input" placeholder="Last Name">
              </div>
            </div>

            <div class="form-group row">
              <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="email-input" placeholder="Email">
              </div>
            </div>

            <div class="form-group row">
              <label for="exampleInputPassword1" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="password-input" placeholder="Password">
              </div>
            </div>

            <div id="error"></div>

            {{!-- avatar selection --}}
            <div>
              <br>
              <p class="text-center"><strong>Select your avatar:</strong> (you can change this
                later) </p>
            </div>

            <span class="avatar-imgs">
              <img src="./images/anime_spacytchi.png" class="tamagotchi" id="1" data-clicked="false">
              <img src="./images/chamametchi_anime.png" class="tamagotchi" id="2" data-clicked="false">
              <img src="./images/gozarutchi_anime.png" class="tamagotchi" id="3" data-clicked="false">
              <img src="./images/kikitchi_anime.png" class="tamagotchi" id="4" data-clicked="false">
              <img src="./images/mametchi_anime_large.png" class="tamagotchi" id="5" data-clicked="false">
              <img src="./images/th.png" class="tamagotchi" id="6" data-clicked="false">
            </span>
            <br>
            <br>

            <div class="text-center"><button type="submit" class="btn btn-default text-center">Sign
                Up</button>
              <br>
            </div>

          </form>
        </div>
        {{!-- end form --}}

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/signup.js"></script>