<br>
<div class="container">
	<nav class="navbar navbar-collapse float-right navbar-nav navbar-light bg-none">
		<form class="form-inline">
			<a href="/logout"><button class="btn btn-primary" id="submit" type="button">Logout
				</button></a>
			</span><span class="button-padding"></span>
			<a href="/account"><button class="btn btn-primary" id="submit" type="button">View Account
					Info
				</button></a>
		</form>
	</nav>
</div>
<br>

<div id="home">
	<div class="container">
		<div class="col-8 offset-2">

			<div class="animated bounceInDown">
				<br>
				<a href="/" class="no-underline">
					<span class="tama tama_fix">Tama</span><span class="fit">Fit</span>
				</a>
			</div>
			<hr class="type_6 animated bounceInDown hide-rule">
		</div>
	</div>
	<div class="animated bounceInUp">
		<h1 class="h1-mobile-responsive">Workout Manager for <span class="member-name"></span></h1>
		<br>
	</div>

	<div class="container">
		<div class="row mt-4">
			<div class="col text-center">
				<a class="btn btn-light body-buttons" href="/log">Go to Logs</a>
			</div>
			<div class="col text-center">
				<a class="btn btn-light body-buttons" href="/cms">New Log</a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="author-container">
					<h1>Workouts</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th># of logs</th>
								<th>See workout logs</th>
								<th>New Log</th>
								<th>Delete Workout</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="workout-form">
									<td colspan="4">
										<input placeholder="Enter a name" id="workout-name" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Create Workout</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="https://code.jquery.com/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/workout.js"></script>
<script type="text/javascript" src="/js/members.js"></script>