.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}

.list-group-item {
  line-height: 2.5;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #6e529d 0%, #d97b93 100%) fixed;
}

#home,
#index-home {
  clear: both;
}

.row {
  margin: 0;
}

.type_6 {
  border: 0;
  width: 90%;
  height: 25px;
  background-image: url(../images/type_6.png);
  background-repeat: no-repeat;
}

a {
  color: #7246bd;
}

a.text-link {
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(180deg, #ffa053, #ffed48);
  background-repeat: no-repeat;
  background-position: 0px bottom;
  background-size: 100% 10px;
}

a.text-link:hover {
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(180deg, #3fda31, #40c2ff);
  background-repeat: no-repeat;
  background-position: 0px bottom;
  background-size: 100% 10px;
}

a.no-underline:hover {
  text-decoration: none;
  text-shadow: 0px 0px #d7dcf7;
}

h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
}

h3 {
  margin: 0 40px;
}

h5 {
  color: black;
}

.enlarged-link {
  font-size: 24px;
}

.tama,
.tama-fix {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 72px;
  background: linear-gradient(to right, red 0%, yellow 100%);
  -clip: text;
  -background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(3px 3px 6px #060a0d);
}

.fit {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  background: linear-gradient(to right, #4674dd 0%, #13a306 100%);
  -clip: text;
  -background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(3px 3px 6px #060a0d);
}

.d-block {
  margin: 10px auto;
  width: auto;
  height: 30%;
}

.member-img {
  height: auto;
  width: auto\9;
}

label {
  font-family: "ubuntu", sans-serif;
}

#title-container {
  text-align: center;
}

#submit {
  background-color: red;
  color: yellow;
  border-color: white;
}

.form-group {
  border-color: white;
}

.center {
  text-align: center;
}

.dropdown-toggle,
.body-buttons,
.btn-info,
.btn {
  background-color: rgb(9, 9, 160);
  border-color: white;
  color: white;
}

.dropdown-toggle:hover,
.body-buttons:hover,
.btn-info:hover,
.btn:hover {
  background-color: rgb(170, 16, 62);
  border-color: white;
  color: white;
}

.btn-danger {
  background-color: darkred;
}

.btn-break-tag {
  display: none;
}

.tamagotchi {
  height: 105px;
  width: auto;
  margin: 10px;
  filter: grayscale(90%);
}

.tamagotchi:hover,
.selected {
  -webkit-filter: drop-shadow(6px 6px 3px rgb(235, 228, 228));
  filter: drop-shadow(6px 6px 3px rgb(235, 228, 228));
}

.card {
  background-color: rgb(209, 206, 202, 0.3);
  padding: 3px;
}

.delete,
.edit {
  margin: 0 2px;
}

@media only screen and (max-width: 768px) {
  .hide-rule {
    display: none;
  }

  .avatar {
    width: 75%;
    height: auto;
  }

  .member-name,
  .h1-mobile-responsive {
    font-size: 28px;
  }

  .tamagotchi {
    height: 85px;
    width: auto;
    margin: 5px;
  }

  .d-block {
    width: auto;
    height: 200px;
  }

  h3 {
    margin: 0 15px;
    font-size: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }
}

@media only screen and (max-width: 450px) {
  .btn-info,
  .delete {
    width: 18%;
    padding: 0;
    display: inline;
    margin: 0 2px;
  }

  .card-header {
    padding: 0;
  }

  small {
    font-size: 13px;
  }

  .member-img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .btn-break-tag {
    display: block;
  }

  .body-buttons {
    margin: 2px;
  }
}
